i {
  padding: 5px;
}

h2 {
  font-size-adjust: 60px;
}

footer {
  padding-top: 20px;
  color: #ffffff;
  display: block;
  margin: auto 0;
}
#city-text {
  opacity: 75%;
}

.city {
  padding: 20px;
  font-size: 40px;
}

.days-weather {
  font-size: 20px;
}

.button {
  border-radius: 30px;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #dbdbdb, #dedede);
  background-image: -moz-linear-gradient(top, #dbdbdb, #dedede);
  background-image: -ms-linear-gradient(top, #dbdbdb, #dedede);
  background-image: -o-linear-gradient(top, #dbdbdb, #dedede);
  background-image: linear-gradient(to bottom, #dbdbdb, #dedede);
}
.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  padding: 35px;
  height: 100vh;
}

.title {
  padding: 15px 10px;
  margin: 0 auto;
}

.city-form-text {
  text-transform: capitalize;
}

.city-form {
  padding: 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.body-wrapper {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: black;
  background-image: url("src/background-mountain-image.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cfc7f8;
}

.card {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 28px !important;
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 30px;
}

.date {
  padding-top: 20px !important;
}
